.nav-button-login {
    background-color: #FFFFFF; /* Couleur jaune JO */
    color: #000; /* Couleur du texte noir */
    border-radius: 15px; /* Bordures arrondies */
    font-weight: bold; /* Texte en gras */
    padding: 5px 10px; /* Espacement interne pour un meilleur look */
}
.nav-button-login:hover {
    background-color: #D5C178; /* Couleur au survol */
    color: #FFFFFF; /* Couleur du texte au survol */
}
.nav-button-login.active {
    display: none; /* Masquer le bouton actif */
}

/*-----------------------------------------------------*/
.ticket-card {
    height: 100%;
}

.bg-solo {
    background-color: #28a745; /* Vert */
}

.bg-duo {
    background-color: #007bff; /* Bleu */
}

.bg-famille {
    background-color: #ffc107; /* Jaune */
}

.text-success {
    color: #28a745;
}

.text-primary {
    color: #007bff;
}

.text-warning {
    color: #ffc107;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}


.nav-button {
    background-color: #FFFFFF; /* Couleur jaune JO */
    color: #000; /* Couleur du texte noir */
    border-radius: 10px; /* Bordures arrondies */
    font-weight: bold; /* Texte en gras */
    padding: 5px 10px; /* Espacement interne pour un meilleur look */
    flex-grow: 1; /* Permet au bouton de prendre toute la largeur disponible */
    min-width: 150px; /* Largeur minimale pour les boutons */
    text-align: center; 
    margin-right: 10px;
    margin-left: 10px;
}
.nav-button:hover {
    background-color: #D5C178; /* Couleur au survol */
    color: #FFFFFF; /*Couleur du texte au survol */
}
.nav-button.active {
    display: none; /* Masquer le bouton actif */
}