{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="position-relative">
    <!-- Image en arrière-plan -->
    <img src="{% static 'img/homeJO.jpg' %}" alt="Image d'accueil" class="img-fluid w-100">

    <!-- Texte superposé en haut de l'image, centré, blanc et gras -->
    <div class="position-absolute top-0 start-50 translate-middle-x  w-100 p-2">
        <h1 class="text-center text-black fw-bold">BILLETTERIE OFFICIELLE DES JEUX OLYMPIQUES</h1>
    </div>
</div>
{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}


{% endblock %}

<!-- text-white bg-dark bg-opacity-50 -->
