{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <!-- Formulaire de connexion -->
            <div class="col-md-6">
                <header>
                    <h1 class="mb-4">Connexion</h1>
                </header>
                <main>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        
                        <!-- Champ nom d'utilisateur -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email :</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Votre nom d'utilisateur" required>
                        </div>

                        <!-- Champ mot de passe -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe :</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Votre mot de passe" required>
                        </div>

                        <!-- Bouton se connecter -->
                        <button type="submit" class="btn btn-success w-100">Se connecter</button>
                    </form>

                    {% if error %}
                    <div class="alert alert-danger mt-3">{{ error }}</div>
                    {% endif %}
                </main>
            </div>

            <!-- Bloc à droite avec bouton "S'inscrire" -->
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <div class="text-center">
                    <h2 class="mb-3">Pas encore inscrit ?</h2>
                    <p class="mb-4">Rejoignez-nous en quelques clics !</p>
                    <a href="{% url 'signup' %}" class="btn btn-outline-success w-50">S'inscrire</a>
                </div>
            </div>
        </div>
    </div>
    <!-- {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %} -->
{% endblock %}
